body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

.header {
    height: 130px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: black;
    padding: 40px 0;
    width: 100%;
}
.header .item {
    padding: 10px 0;
    font-size: 20px;
}
 .navb, .navb:hover , .navb:active{
    text-decoration: none !important;
    color: black !important;
}

.sign-in {
    width: 170px;
    height: 50px;
    font-family: 'Antic Didone', serif;
    border: 3px solid #2a628a;
    border-radius: 25px;
    padding: 10px 25px;
    display: flex;
}
.header .item:hover a{
    color: #2a628a;
}
.sign-in a{
        text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    color: black;
}
.sign-in a:hover{
    text-decoration: none;
   color: white;
    display: flex;
}
.sign-in:hover{
    display: flex;
}
.sign-in:hover .sign-text{
    color: white;
}

.sign-img{
  
        height:30px;
    background: url(img/arrow.png) center center no-repeat;
flex-basis: 30%;
}
.sign-in:hover .sign-img{
    background: url(img/arrow-hover.png) center center no-repeat;
   flex-basis: 30%;
          height:30px;
}
.sign-in:hover{
    color: white;
    background: #2a628a;
}

.sign-text{
    flex-basis: 70%;
}

.logo img {
    height: 55px;
    width: 160px;
}


.header {
    font-family: 'Antic Didone', serif;
}

.slider {
    background: url(img/slider-bg.png);
    padding: 130px 0 70px 0;
    height: 450px;
    margin-bottom: 25px;
}

.wrapper {
    color: white;
    display: flex;
}

.left {
    flex-basis: 25%;
}
.sec{
    margin-top: 50px;
}

.item span {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
}

.title {
    font-family: 'Antic Didone', serif;
    font-size: 70px;
}
.distruption{
    font-size: 50px;
}

.right {
    flex-basis: 75%;
    padding-right: 100px;
}

.left img {
    margin-left: 120px;
    position: relative;
    bottom: 35px;
}

.carousel-indicators li {
    margin: 5px 0 !important;
    background: white !important;
}

.carousel-indicators .active {
    width: 10px !important;
    height: 10px !important;
    background: #55c3ff !important;
    border: 1px solid #55c3ff !important;
}

.carousel-indicators {
    position: relative !important;
    top: 60px !important;
    left: 120px !important;
    display: flex !important;
    flex-direction: column !important;
}

.btn-down a,
.btn-down a:hover,
.btn-down a:active {
    text-align: center;
    text-decoration: none;
    color: black;
}
.btn-down img{
    margin-left: 30px;
    
}
.btn-down {

    font-family: 'Libre Franklin Light', light;
    font-size: 18px;
    width: 100px;
    margin: 100px auto;
}

.btn-down i {
    margin-left: 28px;
    text-align: center;
    font-size: 50px;
}

.three-flex {
    display: flex;
    justify-content: space-between;
}

.three-flex-item {
    margin: 2.5% 0;
    height: 300px;
    flex-basis: 30%;
    padding: 100px 60px;
     font-family: 'Antic Didone', serif;
    font-size: 30px;
    color: white;
}

.two-flex {
    display: flex;
    justify-content: space-between;
}

.two-flex-item {
       padding: 100px 60px;
     font-family: 'Antic Didone', serif;
    font-size: 30px;
    color: white;
    margin: 2.5% 0;
    height: 300px;
    background: red;
    flex-basis: 47.5%;

}
.three-flex-item:nth-child(1){
    background: url(img/unleasing.png) center center no-repeat;
}
.three-flex-item:nth-child(2){
    background: url(img/benefits.png) center center no-repeat;
}
.three-flex-item:nth-child(3){
    background: url(img/intelligence.png) center center no-repeat;
}
.two-flex-item:nth-child(1){
    background: url(img/Decisions.png) center center no-repeat;
}
.two-flex-item:nth-child(2){
    background: url(img/revolution.png) center center no-repeat;
}





.one {
    margin: 2.5% 0 5%;
    height: 300px;
    background: url(img/advantage.png) center center  no-repeat;
     padding: 120px 60px;
     font-family: 'Antic Didone', serif;
    font-size: 30px;
    color: white;
}
.one a,.two-flex-item a,.three-flex-item a{
    text-decoration: none;
    color: white;
}
.one a:hover,.two-flex-item a:hover,.three-flex-item a:hover{
    text-decoration: none;
    color: white;
}
.one a:active,.two-flex-item a:active,.three-flex-item a:active{
    text-decoration: none;
    color: white;
}

.line {
    background: #a5b6c2;
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
}

.footer {
    background: url(img/bg%20footer.png) center center no-repeat;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    font-family: 'Antic Didone', serif;
    font-size: 20px;
    color: #42426d;
    margin: 30px 0;
}

.main-flex-item {
    text-align: left;
    width: 16%;
}

.down-flex {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: #42426d;
    margin: 30px 0;
}

.down-flex-item {
    text-align: left;
    flex-basis: 16%;

}

.down-flex-item a {
    color: black;
    margin: 10px 0;
    display: block;
}


/*end home*/

/*unleasing*/
.home-internal .title{
margin: 35px 50px !important;
}
.home-internal .desc ,.home-internal .desc-all {
    padding: 40px 80px;
}
.home-internal .line{
    width: 26%;
}
.home-internal .heading-text{
    margin-top: 50px;
}
.square{
    background: url(img/gradient-sq.png) left center no-repeat;
    height: 100%;
    background-position: 30px 70px;
}
.heading-text{
    display: flex;
    width: 50%;
}
.line{
    position: relative;
    top: 0px;
    height: 1px;
    background: #4972a4;
    margin: auto 0;
    width: 42%;
}
.text{
        font-family: 'Antic Didone', serif;
    font-size: 20px;
    width:85%;
    margin-left: 5px;
}
.square .title{
    color: black;
    margin: 35px 0;
}

.desc{
      font-family: 'Libre Franklin Light', light;
    font-size: 20px;
    max-width: 45%;
    padding: 40px;
}
.desc-all{
     font-family: 'Libre Franklin Light', light;
    font-size: 20px;
    max-width: 100%;
    padding: 40px;
}
.main-img img{
    width: 100%;
}
.main-img {
    width: 90%;
    margin: 0 auto;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btns .btn{
    
    width: 230px;
    height: 60px;
    border: 3px solid #2a628a;
    border-radius: 60px;
       font-family: 'Antic Didone', serif;
    font-size: 20px;
    padding: 11px 70px;
  
}
.btn a{
    display: flex;
      justify-content: space-between;
    color: black;
}
.btn a:hover,.btn a:active{
    text-decoration: none;
    color: black;
}
.prev{
    padding: 11px 50px !important;
}
.btn i{
    margin-top: 0px;
    font-size: 30px;
}
.unl{
    height: 1500px !important;
}


/*benefits*/

.ben{
    background: url(img/gradient%20%20ben.png) center center no-repeat;
        
    background-position: 30px 70px;
    height: 100%;
}
.desc-ben{
    max-width: 100% !important;
    
}
.down-text{
    width: 200px;
}
.down-text {
    text-decoration: none;
    color: black;
        font-family: 'Libre Franklin Light', light;
    font-size: 18px;
    font-weight: 400;
}
.btns-desc{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/*intelligence*/
.int{
     background: url(img/gradient%20int.png) center center no-repeat;
        
    background-position: 30px 70px;
    height: 100%;
}
.int .main-img{
    margin-top: 50px;
}
.int .title{
    margin: 90px 60px 40px !important;
}
/*empower*/

.emp{
      background: url(img/gradient%20%20ben.png) center center no-repeat;
        
    background-position: 30px 70px;
    height: 100%;
}
.emp .desc{
    padding-bottom: 80px;
    max-width: 100%;
}
.emp .title{
    margin-top: 90px;
}
/*digital*/

.dig{
      background: url(img/gradient%20%20ben.png) center center no-repeat;
        
    background-position: 30px 70px;
    height: 100%;
    height: 100%;
}
.dig .title{
padding-top: 60px;
}
.dig .desc{
    padding-bottom: 90px;
    padding-top: 60px;
    max-width: 100%;
}
/*advantage*/
#part .line{
    opacity: 0;
}
#corp .line{
    opacity: 0;
}
.sec-adv{
    height: 2500px;
}
 .desc-adv{
    max-width: 100%;
}
.adv .title{
    padding: 40px 0 0;
}
.adv{
    background: url(img/gradient%20int.png) center center no-repeat;
        
    background-position: 30px 70px;
    height: 100%;
}
.ind{
    font-family: 'Antic Didone', serif;
    font-size: 20px;
}
.itm{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-left: 70%;
    cursor: pointer;
}
#part-text,#corp-text{
    display: none;
}
#why-text .sq{
    background: url(img/adv1sq.png) center center no-repeat;
      background-position: 30px 45px;
    padding: 50px 0;
}
.int-bg{
    background: url(img/adv1.png) bottom right no-repeat;
}
.sect .title{
    padding: 40px 100px;
}
.sect{
margin-bottom: 50px;
margin-top: -130px;
}
.sect .desc{
    padding: 40px 150px;
    max-width: 75%;
}
.int-bg1{
    margin: 50px 0;
    background: url(img/adv2.png) center left no-repeat;
}
.int-bg1 .desc{
    max-width: 80%;
    padding: 100px 0 150px 35%;
}
.int-bg3 {
    background: url(img/adv3.png) bottom right no-repeat;
}
.int-bg3 .desc{
    padding: 100px 150px;
}
#part-text .sq{
    background: url(img/gradient-sq.png) center center no-repeat;
    background-position: 30px 45px;
    padding: 50px 0;
}
.part-wrap{
    display: flex;
    padding: 10px 50px;
}
.logo-part{
    flex-basis: 25%;
}
.logo-part img{
    margin-left: 50px;
}
.desc-part{
       font-family: 'Libre Franklin Light', light;
    font-size: 16px;
    flex-basis: 75%;
}
.hort {
    margin: 50px 0;
}
#corp-text .sq{
  background: url(img/corp-sq.png) center left no-repeat;
    background-size:contain;
    background-position: 40px 0px;
}
#corp-text .title{
padding: 40px 70px;
}
.corp-wrap{
    display: flex;
    justify-content: space-between;
}
.corp-vis{
    flex-basis: 45%;
}
.corp-vis .top{
    display: flex;
}
.top-img{
    flex-basis: 20%;
}
.top-text{
    flex-basis: 80%;
      font-family: 'Antic Didone', serif;
    font-size: 20px;
    padding: 15px;
    height: 50px;
    border-bottom: 1px solid #acbec2;
}
.bot{
    padding: 40px 0;
    font-family: 'Libre Franklin Light', light;
    font-size: 20px;
}
.values{
    flex-basis: 100%;
}
.values .top-img{
    flex-basis: 15%;
}
.val-text{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.val-text-itm{
    flex-basis: 45%;
     font-family: 'Libre Franklin Light', light;
    font-size: 20px;
}
/*industry*/
.industry .title{
    margin: 135px 100px 35px;
}
.industry{
    height: 100%;
    background: url(img/industrysq.png) left top no-repeat;
    background-position: 240px 70px;
    padding-bottom: 180px;
}
.banks-item{
    background: url(img/banks.png) center center no-repeat !important;
}
.ban{
    background-position: 30px 160px;
}
.ins-item{
    background: url(img/ins.png) center center no-repeat !important;
}
.travel-item{
    background: url(img/travel.png) center center no-repeat !important;
}
.transp-item{
     background: url(img/transp.png) center center no-repeat !important;
}
.toggle{
    padding: 5%;
    display: flex;
    justify-content: space-between;
}
.toggle-item{
    flex-basis: 20%;
    cursor:pointer;
     font-family: 'Antic Didone', serif;
    font-size: 20px;
    font-weight: 700;
}
/*
.toggle-item:focus,.toggle-item:hover{
    color: #2a628a;
    border-bottom: 1px solid #2a628a;
}
*/
.toggle-item p{
    position: relative;
}
.toggle-item p:hover{
    color: #2a628a;
}
.effect-underline:after {
	content: '';
  position:absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 30%;
  border-bottom: 1px solid #2a628a;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.effect-underline-cont:after {
	content: '';
  position:relative;
      right: 106px;
    bottom: 20px;
  display: inline-block;
  height: 1em;
  width: 30%;
  border-bottom: 1px solid #2a628a;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

#address-item:after{
    right: 60px !important;
}
#careers-item:after{
    right: 60px !important;
}

.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.effect-underline-cont:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.second-content{
    display: none;
}
.toggle-content{
    padding: 0 5% 5%;
      font-family: 'Libre Franklin Light', light;
    font-size: 18px;
}
.trav{
    background-position: 30px 60px;
}
.trav .title{
    margin-top: 100px;
}
.btn img{
    margin: 0 20px;
}
.prev{
    padding: 10px !important;
}
.prev a{
    justify-content: center;
}
.next a{
    justify-content: flex-start;
}
.btn:hover{
    border: 3px dotted #2a628a;
}
/*products*/
.bivos-item{
    background: url(img/bivos.png) center center no-repeat !important;
}
.products .three-flex-item{
    height: 440px;
    padding: 160px 60px;
}
.iivos-item{
       background: url(img/iivos.png) center center no-repeat !important;
}
.amivos-item{
    background: url(img/amivos.png) center center no-repeat !important;
}
.products {
      height: 100%;
    background: url(img/productsgrad.png) left top no-repeat;
    background-position: 170px 70px;
}
.products .title{
    margin: 85px 115px 0;
    
}
.products .desc-all{
    padding: 30px 170px;
}
.iivos-pas-item{
    background: url(img/paas.png) center center no-repeat;
}
.bivos .title{
    margin: 110px 55px 0;  
}
.bivos .desc-all{
    padding: 50px 120px;
}
.bivos .line{
    width: 28%;
}
.bivos .toggle-content{
    padding: 50px 100px;
}
.title span{
    font-size: 60px;
}
.desc span{
       font-family: 'Antic Didone', serif;
    font-size: 30px;
  color: #2a628a;
}
/*technologies*/
.digital-services-item{
    background: url(img/digitalservices.png) center center no-repeat !important;
}
.data-science-item{
    background: url(img/datascience.png) center center no-repeat !important;
}
.consultancy-item{
    background: url(img/consultancy.png) center center no-repeat !important;
}
.technologies-item{
    background: url(img/technologies.png) center center no-repeat !important;
}
.services{
    background: url(img/services-square.png) center center no-repeat;
    background-position: 150px 100px;
}
.services .title{
    margin: 110px 115px 0;
}
.services .desc-all{
    padding: 30px 170px;
}
.digital-in .desc-all{
     padding: 50px 170px;
}
.digital-in .title{
    padding: 90px 55px 50px;
}
.digital-in .line{
    width: 26%;
}
.digital-services{
    background-position: 0 50px;
}

.little-sq{
    background: url(img/little-sq.png) center center no-repeat;
    background-position: 0px  0px;
    padding: 50px 0;
}
.services-in .line{
    width: 27%;
}
.services-in{
    height: 2000px;
}
.
.little-sq .title{
        padding: 0px 55px 0;
}
.little-sq .desc-all{
    padding: 30px 170px;
}
.digital-in,.engage-div{
    background: url(img/gradient%20int.png) 0px 50px no-repeat;
    height: 100%;
}
.engage-div .title{
    padding-top: 30px;
}
.contact-us{
      background: url(img/cont-img.png) center center no-repeat;
      background-position: 100px 50px;
    padding: 50px 0 70px;
    margin-bottom: 50px;
}
.cont-wrap{
  display: flex;
    justify-content:space-around;
}
.empty{
    flex-basis: 40%;
}
.cont-email{
    height:130px;
}
.cont-phone{
   height:130px;
}
.cont-item{
     background:#eaeaea;
    flex-basis: 26%;
    padding: 40px 10px 5px;
}
.contact-us .desc{
    width: 780px;
    margin: 0 auto;
}
.cont-inf{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cont-text {
    flex-basis: 75%;
      font-family: 'Antic Didone', serif;
    font-size: 20px;
    color: #2a628a;
    text-align: left;
}
.cont-img img{
    margin-left: 20px;
}
.cont-desc{
      font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    padding: 20px;
}
.cont-toggle{
    border-bottom: 1px solid #929292;
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}
.cont-toggle>div>div{
      font-family: 'Antic Didone', serif;
    font-size: 20px;
    color: black;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 0 100px;
}
.cont-toggle>div>div:hover{
    color: #2a628a;
}
.cont-toggle>div{
       flex-basis: 33%;
}
.cont-content{
    background: #f4f4f4;
}
.form-flex{
    display: flex;
}
.form-flex-item{
    margin: 30px 0;
    padding: 0 70px;
    flex-basis: 50%;
     font-family: 'Antic Didone', serif;
    font-size: 20px;
    font-weight: 700;
}
.input-text{
    padding: 10px 60px;
}
.form-flex-item input{
     font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    color: #a0a1e3;
    width: 360px;
    height: 45px;
    border: 3px solid #a0a1e3;
    display: block;
    margin: 0 auto;
}
.submit{
    width: 220px;
    height: 55px;
    border: 3px solid #2a628a;
    color: #2a628a;
    border-radius: 55px;
    font-size: 20px;
        background: #f4f4f4;
    margin: 50px auto;
    display: block;
}
#careers{
    display: none;
}
#address{
    display: none;
}
.flag-wrap{
    padding: 50px 0;
    width: 500px;
    margin: 0 auto;
    display: flex;
}
.flag{
    flex-basis: 40%;
}
.flag img{
    display: block;
    margin: 0 auto;
}
.flag-desc{
    flex-basis: 60%;
}
.flag-desc span{
      font-family: 'Antic Didone', serif;
    color: #2a628a;
    font-size: 20px;
}
.careers-content{
    padding: 50px 0;
}
.careers-content span{
     font-family: 'Antic Didone', serif;
    color: #2a628a;
    font-size: 20px;
    font-weight: 700;
}
.careers-content ul{
    padding:40px 0;
}
.signin-page{
    background:url(img/signin-sq.png)  center 80px no-repeat;
    
}
.signin-page .title{
    padding: 100px 0;
}
.signin-page .submit{
    background: white;
}
.about-us .desc{
    max-width: 100%;
}
.about-us .two-flex-item{
    height: 440px;
    padding: 200px 60px;
}
.about-us{
    background: url(img/aboutus-sq.png) 140px 50px no-repeat;
}
.engage-item{
    background: url(img/engage.png) center center no-repeat !important; 
}
.team-item{
    background: url(img/team.png) center center no-repeat !important;
}
.title span{
    font-size: 40px;
}
.engage .btns{
    margin-top: 50px;
}
.wrap-engage{
    display: flex;
}
.wrap-eng{
    flex-basis: 50%;
}
.wrap-eng .desc{
    padding: 20px 100px;
    max-width: 100%;
}
.wrap-eng span{
    font-size: 20px;
}
.engage-div .prev{
    border: 0;
}